@{
    ViewBag.Title = "Contact To Me";
}
<h2>@ViewBag.Title</h2>
<br />
<address>
    UEF<br />
    145 Dien Bien Phu, Ward 15, Binh Thanh District, HCMC<br />
    <abbr title="Phone">Phone:</abbr>
    +84916481080
</address>

<address>
    <strong>Admin Le Cong Thanh:</strong>   <a href="mailto:thanhlc18@uef.edu.vn">thanhlc18@uef.edu.vn</a><br />
</address>